@model EmarketDreamsBytes.Entity.Order

@{
    ViewBag.Title = "Detail";
}

<br />
<h3>order number: @Model.OrderId </h3>

<hr />
<hr />
<<a href="/Order/OrderDone?id=@Model.OrderId" class="btn btn-success">I did pay</a>
<hr />
<hr />
<br />
<h4>User Info</h4>
<table>

    <tr>
        <td>@Model.UserName</td>
        <td>User Address @Model.UserAddress</td>
    </tr>


</table>

<hr />
<h4>Order Info</h4>
<table>

    <tr>
        <td>Total Price</td>
        <td>@Model.TotalPrice.ToString("##,##")</td>
    </tr>


</table>

<hr />
<h4>Product Info</h4>
<table>

    <tr>
        <th>Product</th>
        <th>Piece</th>
    </tr>

    @{
        foreach (var item in Model.OrderProduct)
        {
            var p = new EmarketDreamsBytes.MarketDB().Products.Where(x => x.ProductId == item.OrderId).FirstOrDefault();
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
            </tr>

        }
    }


</table>
